# Python cache / compiled files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg
.eggs/

# Environment files
*.env
.env
.env.*
.venv/
venv/

# Databases
*.sqlite3
db.sqlite3

# Django static and media
/static/
media/
staticfiles/

# Logs
*.log

# IDE/editor configs
.vscode/
.idea/
*.swp

# macOS system files
.DS_Store

# Coverage / test reports
htmlcov/
.coverage
.coverage.*
.cache

# Pytest cache
.pytest_cache/
