<!DOCTYPE html>
<html lang="en">
{% extends "recipes/base.html" %}
{% block title %}About Me{% endblock %}

{% block content %}
<h1>About Me</h1>
<p>Enthusiastic and resourceful Full Stack Developer with over three years of freelance experience delivering web and mobile solutions for diverse clients. Recently graduated from the CareerFoundry Full Stack Web Development Bootcamp, with strong foundations in both front-end and back-end technologies. Adept at working independently or as part of a team, leveraging self-directed learning, online courses, and hands-on projects to continuously build technical expertise. 
  Previously worked in digital marketing, bringing a unique blend of coding skills and business insight to every project.</p>
<p>You can find me on:</p>
<ul>
  <li><a href="https://github.com/jamesfoday" target="_blank" rel="noopener noreferrer">GitHub</a></li>
  <li><a href="https://jamesfoday.github.io/my-portfolio-site/" target="_blank" rel="noopener noreferrer">Portfolio</a></li>
  <li>Email: jamesfodayofficail@gmail.com</li>
</ul>
{% endblock %}

</html>
